body, div, h1, h2 {
    margin: 0;
    padding: 0;
    font-family: "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
    font-style: normal;
}

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100%;
}

.title-bar {
    color: #ffffff;
    display: block;
    height: 40px;
    width: 100%;
    max-width: 100%;
    position: relative;
    padding: 12px 0 0 150px;
    background-color: #000000;
}

.nav-bar {
    color: #ffffff;
    display: block;
    height: 35px;
    width: 100%;
    max-width: 100%;
    position: relative;
    padding: 16px 0 0 150px;
    background-color: #2ba6cb;
}

.title-bar h1 {
    float: left;
    font-size: 20px;
}

.nav-bar h2 {
    float: left;
    font-size: 18px;
}

.top-bar h1 a {
    color: #ffffff;
    text-decoration: none;
}

.title-bar h1 a:hover {
    text-decoration: underline;
}

div.content {
    margin: 125px 20px 25px 150px;
}

div.content a {
    color: #2ba6cb;
}

div.bottom-bar {
    position: fixed;
    bottom: 0;
    padding: 10px 150px 30px 150px;
    width: 100%;
    max-width: 100%;
    height: 25px;
    background-color: #2ba6cb;
    color: #ffffff;
}

